body {
  margin: auto;
  width: 60%;
}

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Style the label */
.radio-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  user-select: none;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* form:nth-child(1) .checkmark {
  background-color: red;
}
form:nth-child(2) .radio-container .checkmark:nth-child(2) {
  background-color: yellow;
}
.radio-container .checkmark:nth-child(3) {
  background-color: green;
} */
/* Create the indicator (the dot/circle - hidden when not checked) */
/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

/* Show the indicator (dot/circle) when checked */
/* .radio-container input:checked ~ .checkmark:after {
  display: block;
} */

.radio-container input:checked ~ span {
  border: 1px solid brown;
}

/* Style the indicator (dot/circle) */
/* .radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} */
/* 
image {
  display: inline-block;
  height: 50px;
  width: 70px;
} */

.flex-container{
  display: flex;
  width: 100%;
  gap: 10px;
  /* position: absolute;
  top: 20px; */
}

.flex-container div {
  width: auto;
}
.flex-container div:nth-last-child(1) {
  background-color: red;
  width: 30px;
  /* flex-basis: ; */
}
